<header>
  <div class="page-container">

    <div class="logo">{{#link-to "home"}}ScagTree{{/link-to}}</div>

    {{#if isAuthenticated}}
      <nav>
        {{#link-to "home"}}Home{{/link-to}}

        {{#link-to "profile" authenticatedUserid}}
          @{{authenticatedUsername}}
        {{/link-to}}
      </nav>
    {{/if}}

  </div>
</header>

{{liquid-outlet}}