<div class="page-container index">

  <div class="text-wrapper">
    <h1>Welcome to a <i>better</i> ScagTree.</h1>
    <p class="tagline">Built with Ember.js to tell everyone about your cats and <b><u>more</u></b>.</p>
  </div>

  <div class="login-box">
    {{#liquid-if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/liquid-if}}

    {{input placeholder="Username" value=username }}
    {{input type="password" placeholder="Password" value=password }}

    <button class="signup">Sign up</button>
    <button class="login" {{action (action 'login')}}>Log in</button>
  </div>
</div>